.login.container {
    padding-top: 150px;
    margin: 0 auto;
    width: 600px;
}

.mb-3 {
    width: 600px;
}

.form-control {
    width: 600px;
}

.btn-primary {
    width: 100px;
    height: 50px;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
}
